Repository kirkrd/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint --fix, vitest related --run

feat: add Career section
  app/components/section-header.tsx
  app/components/timeline.tsx
  app/lib/constants.ts
  app/root.tsx
  app/routes/_index.tsx
Due: pnpm lint --fix, vitest related --run

feat: add more meta tags for search engines and social media
  app/root.tsx
Due: pnpm lint --fix, vitest related --run

fix: use minimum scale to try to fix mobile zoom
  app/root.tsx
Due: pnpm lint --fix, vitest related --run

fix(zoom-mobile): use initial scale of 0.9
  app/root.tsx
Due: pnpm lint --fix, vitest related --run

build: add tsc files check to lint-staged
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: pnpm lint --fix

chore: bump remix packages
  package.json
  pnpm-lock.yaml
Due: pnpm lint --fix

chore: bump remix and radix ui
  package.json
  pnpm-lock.yaml
Due: pnpm lint --fix

ci: adjust install action
  .github/actions/install/action.yml
Due: none

feat: bump packages, fix overflow issue and add xo
  .eslintrc.cjs
  .github/actions/build-test/action.yml
  app/components/header.tsx
  app/components/list-header.tsx
  app/components/mode-toggle.tsx
  app/components/section-header.tsx
  app/components/section/index.ts
  app/components/section/section.tsx
  app/components/timeline.tsx
  app/components/ui/avatar.tsx
  app/components/ui/badge.tsx
  app/components/ui/button.tsx
  app/components/ui/dropdown-menu.tsx
  app/components/ui/hover-card.tsx
  app/components/ui/tabs.tsx
  app/entry.client.tsx
  app/entry.server.tsx
  app/lib/constants.ts
  app/lib/hooks/use-is-mobile.ts
  app/lib/hooks/useIsMobile.ts
  app/lib/utils.ts
  app/root.test.tsx
  app/root.tsx
  app/routes/_index.tsx
  app/routes/action.set-theme.ts
  app/sessions.server.tsx
  package.json
  pnpm-lock.yaml
  postcss.config.js
  prettier.config.js
  remix.config.js
  tailwind.config.js
  tests/setup.ts
  vitest.config.ts
Due: pnpm lint --fix, vitest related --run

fix: issue with require and process.env
  app/sessions.server.tsx
Due: pnpm lint --fix, vitest related --run

ci: fix linting
  .github/actions/build-test/action.yml
  app/root.tsx
  eslint.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.js
  prettier.config.js
  remix.config.js
  tailwind.config.js
Due: pnpm lint --fix, vitest related --run

chore: adjust more lint issues
  eslint.config.js
  postcss.config.js
  prettier.config.js
  remix.config.js
  tailwind.config.js
Due: none

docs: update readme
  README.md
Due: none

feat: add dependabot
  .github/actions/install/action.yml
  .github/dependabot.yml
  .github/workflows/dependabot-auto-rebase.yml
  package.json
Due: pnpm lint --fix

ci: restructure PR workflow
  .github/workflows/pull-request.yml
Due: none

fix: dependabot pr strategy
  .github/workflows/pull-request.yml
Due: none

refactor: use biome and bump packages
  app/components/list-header.tsx
  app/components/section-header.tsx
  app/components/section/section.tsx
  app/components/ui/badge.tsx
  app/entry.server.tsx
  biome.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: pnpm lint --fix, vitest related --run

chore: remove old boilerplate from remix.config.js
  remix.config.js
Due: none

ci: bump packages and deploy pipeline
  .github/workflows/deploy.yml
  app/components/timeline.tsx
  package.json
  pnpm-lock.yaml
Due: pnpm lint --fix, vitest related --run

build: migrate to remix vite setup
  app/root.tsx
  package.json
  pnpm-lock.yaml
  remix.config.js
  remix.env.d.ts
  tsconfig.json
  vite.config.ts
Due: pnpm lint --fix, vitest related --run

fix: tailwind css import path
  app/root.tsx
  vite.config.ts
Due: pnpm lint --fix, vitest related --run

style: use new reference type in tailwind
  app/tailwind.css
  package.json
  pnpm-lock.yaml
  postcss.config.js
Due: pnpm lint --fix

style: add fixes for tailwind upgrade
  app/components/mode-toggle.tsx
  app/root.tsx
  app/sessions.server.tsx
  app/tailwind.css
  package.json
  pnpm-lock.yaml
  postcss.config.js
  tailwind.config.js
  vite.config.ts
Due: pnpm lint --fix, vitest related --run

fix(deps): audit packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update portfolio content, dependencies, and UI fixes.
  app/components/header.tsx
  app/components/mode-toggle.tsx
  app/components/ui/fade-into-view.tsx
  app/entry.server.tsx
  app/lib/constants.ts
  app/root.tsx
  app/routes/_index.tsx
  biome.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: pnpm lint --fix, vitest related --run

Fix pnpm workspace config for CI install.
  .lintstagedrc.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm lint --fix

Upgrade CI workflows and project runtime to Node 24.
  .github/actions/build-test/action.yml
  .github/actions/install/action.yml
  .github/workflows/deploy.yml
  .node-version
  package.json
Due: pnpm lint --fix

Fix pnpm setup to use packageManager from package.json.
  .github/actions/install/action.yml
  .github/workflows/deploy.yml
Due: none

Upgrade CI workflows and project runtime to Node 24 (#111)
  .github/actions/build-test/action.yml
  .github/actions/install/action.yml
  .github/workflows/deploy.yml
  .node-version
  package.json
Due: pnpm lint --fix

Overhaul portfolio into a scroll-driven story
  README.md
  app/components/header.tsx
  app/components/list-header.tsx
  app/components/section-header.tsx
  app/components/section/index.ts
  app/components/section/section.tsx
  app/components/story/after-hours.tsx
  app/components/story/chapter-visuals.tsx
  app/components/story/contact.tsx
  app/components/story/hero.tsx
  app/components/story/journey.tsx
  app/components/story/manifesto.tsx
  app/components/story/primitives.tsx
  app/components/story/site-header.tsx
  app/components/story/stack.tsx
  app/components/story/stats.tsx
  app/components/timeline.tsx
  app/components/ui/avatar.tsx
  app/components/ui/badge.tsx
  app/components/ui/button.tsx
  app/components/ui/dropdown-menu.tsx
  app/components/ui/fade-into-view.tsx
  app/components/ui/hover-card.tsx
  app/components/ui/pill-header.tsx
  app/components/ui/pill.tsx
  app/components/ui/tabs.tsx
  app/lib/constants.ts
  app/lib/hooks/use-is-mobile.ts
  app/root.tsx
  app/routes/_index.tsx
  app/story.test.tsx
  app/tailwind.css
  package.json
  pnpm-lock.yaml
  tailwind.config.js
  tests/setup.ts
  vitest.config.ts
Due: pnpm lint --fix, vitest related --run

Resolve dependency security advisories
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm lint --fix

Optimise SEO for software engineer searches in Sweden
  app/components/story/after-hours.tsx
  app/components/story/contact.tsx
  app/components/story/hero.tsx
  app/components/story/primitives.tsx
  app/components/story/stack.tsx
  app/lib/seo.ts
  app/root.tsx
  app/routes/_index.tsx
  app/seo.test.ts
  public/og.png
  public/robots.txt
  public/site.webmanifest
  public/sitemap.xml
Due: pnpm lint --fix, vitest related --run

Path conditions:
  pnpm lint --fix: (any of: *.{ts,tsx}) or (any of: *.json)
  vitest related --run: any of: *.{ts,tsx}
